@model ErrorViewModel

@{
    Layout = "_EmptyLayout";
    int code = (int)Model.Status;
}

<div class="middle-box text-center animated fadeInDown" style="max-width:500px;">

    <div class="text-center">
        <h1 class="logo-name">Evenda</h1>
    </div>

    <br />

    <h1>@code</h1>
    <h3 class="font-bold">@Model.ErrorName</h3>

    <div class="error-desc">
        @Model.Message

        @if (!string.IsNullOrEmpty(Model.RedirectUrl))
        {
            @Model.ButtonCaption
            <br>
            <a href="@Model.RedirectUrl" class="btn btn-primary mt-1">@Model.RedirectButton</a>
        }
    </div>

</div>
